
body{
    background-color: #f0ead6;
}
h1{
    font-size: large;
    text-align: center;
}

p{
    text-align: left;
}
/* grupo de imagens pagina crash bandicoot*/
#crash_list{  
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

#crash_list div{
flex: 1;
max-width: auto;
max-height: auto;
display: flex;
align-items: center;
}

#crash_list img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#img_centralizada{
  width: auto;
  heith: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
