* {
  box-sizing: border-box;
}

body{
    background-color: #f0ece6;
}
h1{
    font-size: large;
    text-align: center;
}

p{
    text-align: left;
}


.column{
    float:left;
    width: 50%;
    padding: 3px;

}

.row {
  display: flex;
  justify-content: flex-start; /* or center, if you want them centered */
  gap: 10px; /* optional: space between images */
}

.column img {
  width: 100%; /* makes the image fill the column */
  max-width: 200px; /* optional: set a max width */
  height: auto;
}
.img_g{
    width: 50%;
}
.img_centro{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
